<section class="tab standard-form character-biography {{tab.cssClass}}" data-group="primary" data-tab="biography">
  {{formInput
    systemFields.biography
    enriched=enrichedBiography
    value=system.biography
    documentUUID=actor.uuid
    name="system.biography"
    collaborate="true"
    toggled="true"
  }}
</section>